@using CloudStore.Models
@model Product

@{
    ViewBag.Title = "Создание товара";
}

<h2>Создать товар</h2>


@using (Html.BeginForm("CreateProduct", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Название", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Производитель", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ManufacturerId", ViewBag.Manufacturer as SelectList, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ManufacturerId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Категории", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (Model.Categories != null)
                {
                    foreach (Category c in ViewBag.Category)
                    {
                        <input type="checkbox" name="selectedCategory" value="@c.Id" @(Model.Categories.Contains(c) ? "checked=\"checked\"" : "") />@c.CategoryName <br />
                    }
                }
                else
                {
                    foreach (Category c in ViewBag.Category)
                    {
                        <input type="checkbox" name="selectedCategory" value="@c.Id" @*@(Model.Categories.Contains(c) ? "checked=\"checked\"" : "")*@ />@c.CategoryName <br />
                    }
                }
                @Html.ValidationMessage("Categories", new { @class = "text-danger" })
            </div>
        </div>

        @if (Model.Photo != null)
        {
            <div class="form-group">
                @Html.Label("Фото", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Raw("<img name=\"uploadImage\" src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Photo) + "\" />")
                    @Html.HiddenFor(model => Model.Photo)
                    <input type="file" name="uploadImage" />
                    @Html.ValidationMessage("Photo", new { @class = "text-danger" })
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                @Html.Label("Фото", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="uploadImage" />
                    @Html.ValidationMessage("Photo", new { @class = "text-danger" })
                </div>
            </div>
        }
        

        <div class="form-group">
            @Html.Label("Описание", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Цена", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@{ Html.EnableClientValidation(false); }*@
                @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Статус", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StatusProductId", ViewBag.StatusProduct as SelectList, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StatusProductId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Количество на складе", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Stock, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Stock, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 my-2">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "GetProduct")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
