@model CloudStore.Models.Product
@using CloudStore.Models

@{
    ViewBag.Title = "Details Product";
}

<h2>Product details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            @Html.DisplayName("Manufacturer")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer.ManufacturerName)
        </dd>
        <dt>
            @Html.DisplayName("Category")
        </dt>
        <dd>
            <ul>
                @foreach (var c in Model.Categories)
                {
                    <li>@c.CategoryName</li>
                }
            </ul>
        </dd>
        <dt>
            @Html.DisplayName("Photo")
        </dt>

        @if (Model.Photo != null)
        {
            <dd>
                @Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Photo) + "\" />")
            </dd>
        }

        <dt>
            @Html.DisplayName("Description")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayName("Price")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt>
            @Html.DisplayName("Status")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusProduct.StatusProductName)
        </dd>
        <dt>
            @Html.DisplayName("In stock count")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditProduct", new { id = Model.Id }) |
    @Html.ActionLink("Back", "GetProduct")
</p>