@model IEnumerable<CloudStore.Models.Manufacturer>

@{
    ViewBag.Title = "Manufacturer";
}

<h2>Manufacturer</h2>

<p>
    @Html.ActionLink("Create", "CreateManufacturer")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ManufacturerName)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditManufacturer", new { id=item.Id }) |            
            @Html.ActionLink("Delete", "DeleteManufacturer", new { id=item.Id })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Back", "Index")
</div>
