@model IEnumerable<CloudStore.Models.Order>

@{
    ViewBag.Title = "Заказы";
}

<h2>Заказы</h2>

<div class="row panel">
    <div class="col-md-2">
        <form method="get">
            <div class="form-inline">
                <label class="control-label">Статус</label>
                <p>@Html.DropDownList("status", ViewBag.StatusOrder as SelectList, htmlAttributes: new { @class = "form-control" })</p>
                <input type="submit" value="Фильтр" class="btn btn-default" />

            </div>
        </form>
    </div>
    <div class="col-md-10">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Номер заказа")
                </th>
                <th>
                    @Html.DisplayName("Логин клиента")
                </th>
                <th>
                    @Html.DisplayName("Имя клиента")
                </th>
                <th>
                    @Html.DisplayName("Статус")
                </th>
                <th>
                    @Html.DisplayName("Цена")
                </th>
                <th>
                    @Html.DisplayName("Дата")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cart.User.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cart.User.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StatusOrder.StatusOrderName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value) руб
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.ActionLink("Редактировать", "EditOrder", new { id = item.Id }) |
                        @Html.ActionLink("Подробнее", "DetailsOrder", new { id = item.Id }) |
                        @Html.ActionLink("Удалить", "DeleteOrder", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<div>
    @Html.ActionLink("Назад", "Index")
</div>
