@model IEnumerable<CloudStore.Models.PaymentMethod>

@{
    ViewBag.Title = "Payment methods";
}

<h2>Payment methods</h2>

<p>
    @Html.ActionLink("Create", "CreatePaymentMethod")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentMethodName)
        </td>
        <td>                      
            @Html.ActionLink("Delete", "DeletePaymentMethod", new { id=item.Id })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back", "Index")
</div>
