@model IEnumerable<CloudStore.Models.ApplicationRole>
@using CloudStore.Infastructure
@using CloudStore.Models

@{
    ViewBag.Title = "Roles";
}

<h2>Roles</h2>

<p>
    @Html.ActionLink("Create new role", "CreateRole")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Users
        </th>
        <th></th>
    </tr>

@foreach (ApplicationRole item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>        
        <td>              
            @string.Join(", ", item.Users.Select(x => Html.GetUserName(x.UserId)))          
        </td>        
        <td>
            @Html.ActionLink("Assign", "GiveRole", new { id = item.Id }) |
            @Html.ActionLink("Edit", "EditRole", new { id=item.Id }) |            
            @Html.ActionLink("Delete", "DeleteRole", new { id=item.Id })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back", "Index")
</div>
