@model IEnumerable<CloudStore.Models.StatusProduct>

@{
    ViewBag.Title = "Product statuses";
}

<h2>Product status</h2>

<p>
    @Html.ActionLink("Create", "CreateStatusProduct")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StatusProductName)
        </td>
        <td>            
            @Html.ActionLink("Delete", "DeleteStatusProduct", new { id=item.Id })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Back", "Index")
</div>
