@model IEnumerable<CloudStore.Models.StatusOrder>

@{
    ViewBag.Title = "Order status";
}

<h2>Order status</h2>

<p>
    @Html.ActionLink("Create", "CreateStatusOrder")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StatusOrderName)
        </td>
        <td>            
            @Html.ActionLink("Delete", "DeleteStatusOrder", new { id=item.Id })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back", "Index")
</div>
