@model IEnumerable<CloudStore.Models.StatusOrder>

@{
    ViewBag.Title = "Статусы заказа";
}

<h2>Статусы заказа</h2>

<p>
    @Html.ActionLink("Создать", "CreateStatusOrder")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Название")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StatusOrderName)
        </td>
        <td>            
            @Html.ActionLink("Удалить", "DeleteStatusOrder", new { id=item.Id })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Назад", "Index")
</div>
