@model IEnumerable<CloudStore.Models.SaleStat>

@{
    ViewBag.Title = "Sales";
}

<h2>Sales</h2>

<div class="row panel">
    <div class="col-md-2">
        <form method="get">
            <div class="form-inline">
                <label class="control-label">From</label>
                @Html.Editor("firstdate", new { htmlAttributes = new { @class = "form-control", type = "date" } })
                <label class="control-label">To</label>
                @Html.Editor("seconddate", new { htmlAttributes = new { @class = "form-control", type = "date" } })
                <label class="control-label">Товар</label>
                <p>@Html.DropDownList("product", ViewBag.Products as SelectList, htmlAttributes: new { @class = "form-control" })</p>
                <input type="submit" value="Filter" class="btn btn-dark" />
            </div>
        </form>
    </div>
    <div class="col-md-10">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Product")
                </th>
                <th>
                    @Html.DisplayName("User")
                </th>
                <th>
                    @Html.DisplayName("Date")
                </th>                
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>                    
                </tr>
            }

        </table>
    </div>
</div>

<div>
    @Html.ActionLink("Back", "Index")
</div>

