@model IEnumerable<CloudStore.Models.TypeDelivery>

@{
    ViewBag.Title = "Delivery types";
}

<h2>Delivery types</h2>

<p>
    @Html.ActionLink("Create", "CreateTypeDelivery")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TypeDeliveryName)
        </td>
        <td>            
            @Html.ActionLink("Delete", "DeleteTypeDelivery", new { id=item.Id })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back", "Index")
</div>