@model IBAstore.Models.Order

@{
    ViewBag.Title = "Заказ № " + Model.Id;
}

<h2>Заказ № @Model.Id</h2>

<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Логин пользователя")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cart.User.UserName)
        </dd>

        <dt>
            @Html.DisplayName("Имя пользоваьеля")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cart.User.Name)
        </dd>

        <dt>
            @Html.DisplayName("Способ оплаты")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMethod.Name)
        </dd>

        <dt>
            @Html.DisplayName("Статус заказа")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusOrder.Name)
        </dd>

        <dt>
            @Html.DisplayName("Описание")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayName("Тип доставки")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeDelivery.Name)
        </dd>       

        <dt>
            @Html.DisplayName("Город")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayName("Улица")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayName("Дом")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House)
        </dd>

        <dt>
            @Html.DisplayName("Корпус")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Housing)
        </dd>

        <dt>
            @Html.DisplayName("Квартира")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flat)
        </dd>

        <dt>
            @Html.DisplayName("Телефон")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayName("Дата")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayName("Сумма")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value) руб
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Редактировать", "EditOrder", new { id = Model.Id }) |
    @Html.ActionLink("Назад", "GetOrder")
</p>
