@model IBAstore.Models.Order

@{
    ViewBag.Title = "Редактирование заказа № " + Model.Id;
}

<h2>Редактировать заказ № @Model.Id</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Логин пользователя")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cart.User.UserName)
        </dd>

        <dt>
            @Html.DisplayName("Имя пользоваьеля")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cart.User.Name)
        </dd>

        <dt>
            @Html.DisplayName("Способ оплаты")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMethod.Name)
        </dd>

        <dt>
            @Html.DisplayName("Статус заказа")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusOrder.Name)
        </dd>

        <dt>
            @Html.DisplayName("Описание")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayName("Тип доставки")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeDelivery.Name)
        </dd>

        <dt>
            @Html.DisplayName("Город")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayName("Улица")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayName("Дом")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House)
        </dd>

        <dt>
            @Html.DisplayName("Корпус")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Housing)
        </dd>

        <dt>
            @Html.DisplayName("Квартира")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flat)
        </dd>

        <dt>
            @Html.DisplayName("Телефон")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayName("Дата")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayName("Сумма")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value) руб
        </dd>
    </dl>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CartId)
        @Html.HiddenFor(model => model.Description)
        @Html.HiddenFor(model => model.Date)
        @Html.HiddenFor(model => model.City)
        @Html.HiddenFor(model => model.Street)
        @Html.HiddenFor(model => model.House)
        @Html.HiddenFor(model => model.Housing)
        @Html.HiddenFor(model => model.Flat)
        @Html.HiddenFor(model => model.Telephone)
        @Html.HiddenFor(model => model.Value)
        @Html.HiddenFor(model => model.PaymentMethodId)
        @Html.HiddenFor(model => model.TypeDeliveryId)

        <div class="form-group">
            @Html.LabelFor(model => model.StatusOrderId, "StatusOrderId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StatusOrderId", ViewBag.StatusOrder as SelectList, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StatusOrderId, "", new { @class = "text-danger" })
            </div>
        </div>
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "GetOrder")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
