@model IEnumerable<IBAstore.Models.PaymentMethod>

@{
    ViewBag.Title = "Способы оплаты доставки";
}

<h2>Способы оплаты доставки</h2>

<p>
    @Html.ActionLink("Создать", "CreatePaymentMethod")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Название")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentMethodName)
        </td>
        <td>                      
            @Html.ActionLink("Удалить", "DeletePaymentMethod", new { id=item.Id })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Назад", "Index")
</div>
