@model IEnumerable<IBAstore.Models.ApplicationUser>

@{
    ViewBag.Title = "Пользователи";
}

<h2>Пользователи</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Логин")
        </th>          
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>        
        <td>            
            @Html.ActionLink("Подробнее", "DetailsUser", new { id = item.Id }) |
            @Html.ActionLink("Удалить", "DeleteUser", new { id = item.Id })
        </td>
    </tr>
}
</table>

<div>
    @Html.ActionLink("Назад", "Index")
</div>
