@model IEnumerable<IBAstore.Models.ApplicationUser>

@{
    ViewBag.Title = "Пользователи";
}

<h2>Пользователи</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Логин")
        </th>
        <th>
            @Html.DisplayName("Имя")
        </th>
        <th>
            @Html.DisplayName("Электронный адрес")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Заказы", "GetOrder", new { id = item.Id })                
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Назад", "Index")
</div>
