@model IBAstore.Models.CartIndexViewModel

@{
    ViewBag.Title = "Корзина";
}

<h2>Корзина</h2>

@if (Model.Cart.Lines.Count == 0)
{
    <h4>Ваша корзина в данный момент пуста, для оформления заказа добавьте товар в корзину</h4>

    if (Model.ReturnUrl == null)
    {
        <a class="btn btn-default" href="@Url.Action("Index", "Home")">Назад</a>
    }
    else
    {
        <a class="btn btn-default" href="@Model.ReturnUrl">Назад</a>
    }
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Количество</th>
                <th>Товар</th>
                <th class="text-right">Цена</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Lines)
            {
                <tr>
                    <td class="text-left">
                        <img class="img-thumbnail" width="75" height="89" src="data:image/jpeg;base64, @Convert.ToBase64String(item.Product.Photo)" />
                    </td>
                    <td class="text-left">@item.Quantity</td>
                    <td class="text-left">@item.Product.Name</td>
                    <td class="text-right">@item.Product.Cost.ToString("# руб")</td>
                    <td>
                        @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                            @Html.Hidden("Id", item.Id)
                            @Html.HiddenFor(x => x.ReturnUrl)
                            <input type="submit" class="btn btn-danger" value="Удалить" />
                        }
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-left">Итого:</td>
                <td colspan="2" class="text-right">
                    @Model.Lines.Sum(s => s.Product.Cost * s.Quantity).ToString("# руб")
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="text-center">
        @if (Model.ReturnUrl == null)
        {
            <a class="btn btn-default" href="@Url.Action("Index", "Home")">Назад</a>
        }
        else
        {
            <a class="btn btn-default" href="@Model.ReturnUrl">Назад</a>
        }
        @Html.ActionLink("Оформить заказ", "Checkout", null, new { @class = "btn btn-default" })
    </div>
}


