
@{
    ViewBag.Title = "Home";
}

<link href="~/Content/HomePageStyles.css" rel="stylesheet" />

<br /><br />

      <div class="container carousel slide" id="carouselControls" data-bs-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="5000">
                  <img class="d-block w-100" src="~/Content/Carousel/first.png" alt="">
              </div>
              <div class="carousel-item" data-bs-interval="5000">
                  <img class="d-block w-100" src="~/Content/Carousel/third.png" alt="">
              </div>
          </div>
          <a class="carousel-control-prev" role="button" href="#carouselControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon bg-dark rounded-pill"></span>
              <a class="carousel-control-next" role="button" href="#carouselControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon bg-dark rounded-pill"></span>
              </a>
      </div>

<br /><br />

<div class="container">
    <div class="row">
        <div class="col-md-4 my-3">
            <div class="card">
                <div class="card-header">News 1</div>
                <div class="panel-body">
                    <div class="text-center">
                        @*<a href="@Url.Action("DetailsItem", "Catalog", new { id = 3010})"><img src="data:image/jpeg;base64, @Convert.ToBase64String(ViewBag.FirstPhoto)" alt="Image"></a>*@
                        @*@<img src="~/Content/Carousel/macbook.jpg" alt="Image">*@
                        Shop will open soon
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 my-3">
            <div class="card">
                <div class="card-header">New Arrival</div>
                <div class="card-body">
                    <div class="text-center">
                        @*@<a href="@Url.Action("DetailsItem", "Catalog", new { id = 2017})"><img src="data:image/jpeg;base64, @Convert.ToBase64String(ViewBag.SecondPhoto)" alt="Image"></a>*@
                        <img src="~/Content/Carousel/mi.jpg" alt="Image">
                        <p>Xiaomi Mi A1 will go on sale soon.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 my-3">
            <div class="card">
                <div class="card-header">Jobs</div>
                <div class="card-body">
                    <div class="text-center">
                        @*@<a href="@Url.Action("DetailsItem", "Catalog", new { id = 3011})"><img src="data:image/jpeg;base64, @Convert.ToBase64String(ViewBag.ThirdPhoto)" alt="Image"></a>*@
                        @*<img src="~/Content/Carousel/lumix.jpg" alt="Image">*@
                        Admin job vacancy open
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br>