<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloudStore - @ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>


<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" ;">
        <div class="container">
            @Html.ActionLink("CloudStore", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent"
                    aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto ">
                    <li class="nav-item">
                        @Html.ActionLink("Каталог", "Index", "Catalog", new { @class = "nav-link", @href = "/Catalog" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("О магазине", "About", "Home", new { @class = "nav-link", @href = "/Home/About" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Контакты", "Contact", "Home", new { @class = "nav-link", @href = "/Home/Contact" })
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>




    <div class="container body-content">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">@TempData["message"]</div>
        }
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">@DateTime.Now.Year CloudStore</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
