@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @if (User.IsInRole("Admin"))
            {
                <li>
                    @Html.ActionLink("Admin panel", "Index", "Admin", new { @class = "nav-link", @href = "/Admin/Index" })
                </li>
            }
            <li>
                @Html.ActionLink("Hello, " + User.Identity.GetUserName() + "!", "Index", "Manage", new { @class = "nav-link", @href = "/Manage/Index" })
            </li>
            <li>
                <a href="@Url.Action("Index", "Cart")" class="nav-link"><span class="glyphicon glyphicon-shopping-cart"></span> Cart <span class="badge bg-secondary rounded-pill">@Html.Action("Summary", "Cart")</span></a>
            </li>
            <li>
                @Html.ActionLink("Log out", "Logout", "Account", new { @class = "nav-link", @href = "/Account/Logout" })
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registration", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}