@using CloudStore.Models
@model IEnumerable<Category>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<br />

<div class="pull-right">
    <form method="get" action="@Url.Action("SearchResult", "Catalog")">        
        <input type="text" name="search" id="search" />
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>Search</button>
    </form>
</div>

<ul class="menu">

    @foreach (var c in Model.Where(p => p.ParentCategoryId == null))
    {

        <li>            
            @Html.ActionLink(c.CategoryName, "Items", new { id = c.Id }, new { @class = "btn btn-default" })
            @if (Model.Count(p => p.ParentCategoryId == c.Id) > 0)
            {
                @:<ul>
        }

            @RenderMenuItem(Model, c)

            @if (Model.Count(p => p.ParentCategoryId == c.Id) > 0)
            {
                @:</ul>
            }

        </li>
    }
</ul>


@helper RenderMenuItem(IEnumerable<Category> category, Category cat)
{
foreach (var cp in category.Where(p => p.ParentCategoryId == cat.Id))
{


        @:<li>
            @Html.ActionLink(cp.CategoryName, "Items", new { id = cp.Id }, new { @class = "btn btn-default" })

    if (category.Count(p => p.ParentCategoryId == cp.Id) > 0)
    {
            @:<ul>
        }

        @RenderMenuItem(category, cp)
    if (category.Count(p => p.ParentCategoryId == cp.Id) > 0)
    {
            @:</ul>
    }
    else
    {
            @:</li>
    }
}
}