@using CloudStore.Models
@model ProductListViewModel
@using CloudStore.Infastructure

@{
    ViewBag.Title = ViewBag.CategoryName;
}

<h2>@ViewBag.CategoryName</h2>
<hr />

<div class="row panel">
    <div class="col-md-2">
        <form method="get">
            <div class="form-inline">
                <label class="control-label">Manufacturer</label>                
                    <p>@Html.DropDownList("manufacturer", Model.Manufacturers as SelectList, htmlAttributes: new { @class = "form-control" })</p>                    
                   <input type="submit" value="Filter" class="btn btn-dark" />
               
            </div>
        </form>
    </div>
    <div class="col-md-10">
        @foreach (var item in Model.Products)
        {
            <div class="well">
                @if (item.Photo != null)
                {
                    <div class="pull-left" style="margin-right: 10px">
                        <img class="img-thumbnail" width="75" height="89" src="data:image/jpeg;base64, @Convert.ToBase64String(item.Photo)" />
                    </div>
                }
                <h3>
                    <strong>@Html.ActionLink(item.Manufacturer.ManufacturerName + " " +item.ProductName, "DetailsItem", new { id = item.Id })</strong>
                    <span class="pull-right label label-default">@item.Cost.ToString("# $")</span>
                </h3>
                <span class="lead">@item.Description</span>
                <h4><b>@item.StatusProduct.StatusProductName</b></h4>
            </div>
        }
    </div>
</div>

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Items", new { page = x, manufacturer = ViewBag.mid }))
</div>


